<!DOCTYPE html>
<html lang="fr" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EMM Console</title>
  </head>
  <body>
	{% extends "template.html" %}
    {% block content %}
	<form method ="post" action ="/">
		<div>
		<input type="submit" name="Inscription" value="Inscription">
		</div>
		<input type="submit" name="Liste Devices" value="Liste Devices">
		<input type="submit" name="Liste Politiques" value="Liste Politiques">
		<input type="submit" name="Supprimer Devices" value="Supprimer Devices">
		<input type="submit" name="Update Politique" value="Update Politique">
		<input type="submit" name="test" value="test">

	{% endblock %}
  </body>
</html>