<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>EMM Console</title>
  </head>
  <body>
	{% extends "template.html" %}
    {% block content %}
    <h1> Console EMM </h1>
    <p> BEIR EMM Gestion smartphones </p>
	<form method ="post" action ="/">
		<input type="submit" name="Inscription" value="Inscription">
		<input type="submit" name="Liste Devices" value="Liste Devices">
		<input type="submit" name="Liste Politiques" value="Liste Politiques">
		<input type="submit" name="Supprimer Devices" value="Supprimer Devices">

	{% endblock %}
  </body>
</html>