.menuElem
{
	display:flex;
	flex-direction: column;
	justify-content: left;
	padding:20px;
}
.flottant
{
	float:left;
}
nav
{	
	display:flex;
	flex-direction: column;
	justify-content: left;
	border:3px solid;
	width:15%;
	min-width:180px;
	float:left;
	text-align:left;
}
.listMenu
{
	list-style-type: none;
	text-align:left;
}
#titrePrincipal
{
	line-height:120px;
	margin-left: auto;
    margin-right: auto;
	text-align: center;
	border:3px solid;
}
#logo
{
	height:80px;
	width:180px;
}
body
{
	text-align : center;
}
.separation
{
	height:15px;
}
#qr_code
{
	height: 250px;
	width: 250px;
	border: 3px solid;
}